*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

p{font-family: 'Roboto', sans-serif;
    font-size: 15px;}

h1{font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 130px;
    line-height: 0.8;}


h2{font-family: 'Fira Sans', sans-serif;
   /* position: relative; */
    display: block;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 7px;
    letter-spacing: -0.5px;}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

/*////////////// Button Css //////////////////////*/

.btn-primary{background-image: linear-gradient(to right, #d1651a, #ce571e, #cb4922, #c63a26, #c1282a); border: none;}

   .btn-primary:hover{background-image: linear-gradient(to left, #d1651a, #ce571e, #cb4922, #c63a26, #c1282a); border: none;}   
   
   .btn-outline-danger {border-image: linear-gradient(to right, #d1651a, #ce571e, #cb4922, #c63a26, #c1282a); border: 1px solid;}
   .btn-outline-danger:hover{background-image: linear-gradient(to left, #d1651a, #ce571e, #cb4922, #c63a26, #c1282a);}   

   button {
    font-size: 16px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}
 
/*////////////// Navigation Bar */

a{ color: #222;}
.nav-sec{ padding: 20px 0px}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: white;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;

}


a.active,a:hover{
  color: #e74731;
  transition: .5s;
}
.navbar-links li:hover {
  color: #e74731;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #222;
  border-radius: 10px;
}

@media (max-width: 800px) {

  .brand-title img{ width:90px;}

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  .nav-sec{ padding: 10px 0px}

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
      padding-top: 40px;
  }



  .navbar-links ul li {
      text-align: center;
      font-size: 12px;
  }

  .navbar-links ul li a {
    padding: 15px 15px;  }

  .navbar-links.active {
      display: flex;
  }
}  



.banner{ 	background-image: url(images/banner.jpg);
padding: 250px 0px 250px 0px;
min-height: 750px; 
background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
color: #fff;
}

.banner h2 {
    font-size: 70px;
    font-weight: 900;
    line-height: 0.9;
    padding: 0px;
}

.callouts {
    padding: 60px 0 60px 0; text-align: center; background: #f5f6f7;}
  

    .callouts-services { display: flex;
    justify-content: center;
    flex-wrap: wrap;}

    .secbox {    width: 30%;
        padding: 35px 35px 25px 35px;
        margin: 15px;
        border: 1px solid #ddd;}


    .secbox { position:relative;  }

    .secbox_content { position:relative;  }

     .secbox:before {
        content: "";
        position: absolute;
        left:0;
        height: 0;
        width: 100%;
        background-color: #fff;
        top: 0;
        transition: 0.5s;    }

    .secbox:hover::before {
        height: 100%;
        transition: 0.5s;
    }
    .secbox img {
        padding-bottom: 20px;
    }
.op-sec {
	background-image: url(images/back.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 150px;
	padding-bottom: 150px;
 background-size: cover;
}
.op-sec ul{ list-style-type: none; padding: 0; }

.op-sec li{
	background-image: url(images/tick.png);
    background-repeat: no-repeat;
    padding: 0 0 10px 32px;
}

.op-sec h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
}

.sec-pageimg{
    padding: 60px 0 60px 0; }

    .sec-two{  background-image: url(images/sec-two.png);
        background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;}

    .sec-two-main {display: flex; justify-content: center; }

    .sec-two-box{width: 30%;  padding: 30px;  margin: 10px 20px 10px 20px; background-color: #fff;border-radius: 10px;    box-shadow: 1px 1px 20px #0000000f; }

.men-sec{ background-image: url(images/men-sec.png);
    background-color: #201630;
    background-repeat: no-repeat;
    background-position: right top;
    color: white;
}

.men-sec img {margin-top: -110px;}

.form-control {
    padding: 13px;
    border-radius: 0px;
}
.men-sec button {
    border-radius: 0px !important;
}
    .sec-two h1{    position: relative;
        background-color: #e74731;
                font-size: 100px;
        font-weight: 800;
        line-height: 100px;
        font-family: "Fira Sans", sans-serif;
        background-image: url(images/pattern.png);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}


        .testi{ padding: 140px 0 140px 0; }

        .testi_box_main { display: flex;
    justify-content: center;}

    .testi_box{ width: 25%; padding: 10px;}

    .testi_text img {
        border-radius: 5px;    }

   .box_content{     padding: 20px 20px 3px 20px;
    text-align: center;
    background: #fff;
    margin: 0px 30px 0 30px;
    border-radius: 5px;
    margin-top: -20px;
    position: relative;
    z-index: 10;
    box-shadow: 1px 1px 20px #00000008;}

    .box_content:hover {
        transform: translateY(-5px);
        transition: all 0.2s ease;
        background-color: #db4430;
        color: #fff;
    }
    .testi_box{ filter: grayscale(100);}
.testi_box:hover {
    filter: none;
    transition: all 0.2s ease;
}
.parallax{
    padding: 100px 0 100px 0;
    background-image: url(https://source.unsplash.com/1920x1080/?technology);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;}

.parallax_box{
    background-color: #f5f6f7;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 10% 68%, 0 68%, 10% 56%);
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 10% 68%, 0 68%, 10% 56%);
    padding-left: 120px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.last-sec{margin-top:-10px; position: relative; z-index: 10; padding: 30px 20px 20px 20px;}

/* .container{ max-width:1240px;}

@media only screen and (max-width: 575px) {

  .container{ max-width:540px !important;}

}

 responsive /*/

 @media only screen and (max-width: 1024px) {

  p{ font-size: 14px;}

h1{   font-size: 100px; }


h2{ font-size: 30px;}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.banner{ padding: 0px !important;
  min-height: 320px;}

.banner_content {display: none;}

  .sec-pageimg{ text-align: center;}
  .callouts { padding: 50px 30px 50px 30px;}

  .op-sec li {
    background-size: 17px;
    padding: 0 0 10px 32px;
    font-size: 14px;
}
.op-sec h2{ text-align: center;}
.op-sec_content {
  max-width: 700px;
  margin-left: auto !important;
  margin-right: auto !important;
}

  .op-sec {background-image: none; padding: 50px;}
  .sec-two{ padding: 50px 0px 50px 0px; }
	
	    .secbox {width:auto; padding: 30px; margin: 15px;}
	
   .callouts-services { display: block;}

    .sec-two-main { display: block;}
    .sec-two-box {width:auto; margin:15px; text-align: center;}

    .testi { padding: 50px 0 50px 0; text-align: center;   }
    .testi_box_main  { margin:15px; display: block;}
    .testi_box {width:auto;}

    .men-sec{ padding: 50px 30px 50px 30px; text-align: center;}
    .men-sec img{ margin: 0px; display: none;}
    

}

@media only screen and (max-width: 600px) {

  .logo img { width: 130px;}

  p{ font-size: 12px;}

h1{   font-size: 50px !important;  line-height:0.9 !important;}


h2{ font-size: 20px;}

h3 {     font-size: 15px;}

.banner{ min-height: 160px;}

.sec-pageimg { padding: 30px 20px 30px 20px;}

.op-sec li {
  background-size: 16px !important;
  padding: 0 0 10px 27px;
  font-size: 12px;
}

.sec-two { padding: 30px 0px 30px 0px; }
.callouts { padding: 30px 0px 30px 0px;}

  .op-sec { padding: 30px 20px 30px 20px;}
    .testi { padding: 30px 0px 30px 0px; }
    .men-sec { padding: 30px 20px 30px 20px; }

    .form-control {  font-size: 12px;  }
    

}

/*----Extra effects  */

.brand-title{
	cursor: pointer;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
	visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown{

	0%{
	transform: translateY(-100px);
	visibility: visible;
	}

	100%{
	transform: translateY(0px);
	visibility: visible;
	}


}

.navbar-links{
    animation: movedown 1s linear 1;
    animation-delay: 2s;
	visibility: hidden;
    animation-fill-mode: forwards;
}

.banner_content{
    animation: moveright 1s linear 1;
    animation-delay: 3s;
	visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright{

	0%{
	transform: translateX(-100px);
	visibility: visible;
	}

	100%{
	transform: translateX(0px);
	visibility: visible;
	}


}

div#sec-pageimg img{
    animation: zoomin 1s linear 1;
    animation-delay: 4s;
	visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes zoomin{

	0%{
	transform: scale(0.5);
	visibility: visible;
	}

	100%{
	transform: scale(1);
	visibility: visible;
	}


}
